@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Bold";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Demibold";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-demibold.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Extrabold";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-extrabold.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Heavy";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-heavy.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Medium";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/sofiapro/sofiapro-light.otf") format("opentype");
}
