@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "hamburgers/dist/hamburgers.min.css";

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Bold";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Demibold";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-demibold.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Extrabold";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-extrabold.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Heavy";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-heavy.otf")
    format("opentype");
}

@font-face {
  font-family: "Integral CF Medium";
  src: url("/fonts/demofont/Fontspring-DEMO-integralcf-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Sofia";
  src: url("/fonts/sofiapro/sofiapro-light.otf") format("opentype");
}

@font-face {
  font-family: "Sofia-Extralight";
  src: url("/fonts/sofiapro/SofiaProExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Sofia-Regular";
  src: url("/fonts/sofiapro/SofiaProRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Sofia-Medium";
  src: url("/fonts/sofiapro/SofiaProMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Sofia-Bold";
  src: url("/fonts/sofiapro/SofiaProBold.ttf") format("truetype");
}

@font-face {
  font-family: "Sofia-Semibold";
  src: url("/fonts/sofiapro/SofiaProSemiBold.ttf") format("truetype");
}

.stroke {
  -webkit-text-stroke: 1px white;
}

.stroke-neon {
  -webkit-text-stroke: 1px #e0fd60;
}

.felsunny::before {
  color: #723d46;
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  color: #e0fd60;
  -webkit-text-stroke: Opx transparent;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.felsunny:hover::before {
  width: 100%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(20px) rotate(10deg);
  }
}

.animate-float {
  animation: float 4s infinite;
}
